<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./element-ui/index.css"/>
</head>
<body style="overflow: hidden;" oncontextmenu="return true;" >
<div id="app" style="display:none;">
  <el-container direction="vertical">
    <el-header>
      <span class="header-text">PoleVPN</span>
      <el-icon class="el-icon-s-unfold" @click="this.$store.state.showLeftDrawer = true"><Expand /></el-icon>
      <el-icon class="el-icon-plus" title="Add Access Server" @click="onAddClick"><Plus /></el-icon>
    </el-header>
    <el-main>

      <el-row justify="center" style="margin-top:40px;">
        <el-select size="large" v-model="this.$store.state.accessServerID" placeholder="Select Access Server">
          <el-option style="padding-right: 20px;" v-for="item in this.$store.state.options" :key="item.value" :label="item.label" :value="item.value">
            <span style="float: left">{{ item.label }}</span>
            <span style="float: right;font-size: 16px;">
                <el-icon title="Edit"  @click="onEditClick(item.value)"><Edit/></el-icon>
              </span>
          </el-option>
        </el-select>
      </el-row>

      <el-row justify="center" :style="this.$store.state.buttonRowStyle">
          <el-button id="connect" class="el-button-connect" :style="this.$store.state.buttonStyle" :icon="this.$store.state.connectIcon" @click="onConnectClick" :disabled="this.$store.state.connectDisable" circle></el-button>
      </el-row>

      <el-row justify="center" style="margin-top: 40px;">
        <div style="line-height: 30px;">{{this.$store.state.remoteIp}}</div>
      </el-row>
      <el-row justify="center">
        <div style="line-height: 30px;">{{this.$store.state.localIp}}</div>
      </el-row>
      <el-row justify="center">
        <div style="line-height: 30px;">{{this.$store.state.connectStatus}}</div>
      </el-row>
    </el-main>
    <el-footer>
      <span class="footer-upload">Upload: {{this.$store.state.upBytes}}  <el-icon><Top/></el-icon></span>
      <span class="footer-download">Download: {{this.$store.state.downBytes}}  <el-icon><Bottom/></el-icon></span>
    </el-footer>
  </el-container>

  <el-drawer size="70%"  custom-class="menu" title="PoleVPN" v-model="this.$store.state.showLeftDrawer" :direction="this.$store.state.leftDirection">
    <el-container>
      <el-main>
        <div style="font-size: 14px;background-color: #fff; line-height: 60px;">Fast Security Reliable</div>
        <div style="text-align: left;margin-top: 1px;">
          <div onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#eee'" @click="onShowLogs"  class="setting-menu">
            <i class="el-icon-document"></i> Logs
          </div>
          <div onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#eee'" @click="this.$store.state.showAboutDrawer=true"  class="setting-menu">
            <i class="el-icon-info"></i> About
          </div>
          <div onmouseover="this.style.backgroundColor='white'" onmouseout="this.style.backgroundColor='#eee'" @click="this.$store.state.showHelpDrawer=true"  class="setting-menu">
            <i class="el-icon-question"></i> Help
          </div>

        </div>
      </el-main>
      <el-footer>
        <div style="text-align: center;line-height: 60px;font-size: 14px;">Version: {{this.$store.state.version}}</div>
      </el-footer>
    </el-container>

    <el-drawer title="Logs" size="100%" :append-to-body="true"  v-model="this.$store.state.showLogDrawer">
      <textarea style="height: 99.3%;width: 100%;border-width: 0;background-color: #eee;">{{this.$store.state.log}}</textarea>
    </el-drawer>

    <el-drawer title="About" size="100%" :append-to-body="true" v-model="this.$store.state.showAboutDrawer">
      <div style="padding: 10px;font-size: 14px;">
        <p>
          <span style="font-weight: bold;">PoleVPN is a tool that helps enterprises to realize the following three functions with individual users:</span>
        <ul>
          <li>Help companies realize the point-to-point connection of two LANs in different regions</li>
          <li>Help employees of the company to remotely access company resources</li>
          <li>Protect users' online privacy through PoleVPN technology</li>
        </ul>

        <span style="font-weight: bold;"> Why we are trustworthy:</span>
        <ul>
          <li>The entire data connection adopts TLS encryption technology to protect your data from being stolen and
            tampered during transmission</li>
          <li>Using packet loss detection technology, in an unstable network environment, network data transmission is
            faster and lower delay</li>
          <li>Easier to configure and install, simple and quick to use</li>
        </ul>
        </p>
      </div>
    </el-drawer>

    <el-drawer title="Help" size="100%" :append-to-body="true" v-model="this.$store.state.showHelpDrawer">
      <div style="padding: 10px;font-size: 14px;">
        <span style="font-weight: bold;">What should I do when I can’t connect?</span>
        <ul>
          <li>Check if the network is normal</li>
          <li>Check whether the filled Access Server information is correct</li>
          <li>Ask the network administrator for assistance</li>
          <li>Go to the PoleVPN website and report the problem</li>
        </ul>
        <span style="font-weight: bold;">Advantages of PoleVPN over OpenVPN</span>
        <ul>
          <li>Easy to install, configure and maintain</li>
          <li>It can easily break through network blockades and firewalls</li>
          <li>Completely free</li>
        </ul>
      </div>
    </el-drawer>

  </el-drawer>

  <el-drawer  ref="rdrawer" size="100%" :title="this.$store.state.formTitle" v-model="this.$store.state.showRightDrawer" :direction="this.$store.state.rightDirection" destroy-on-close :before-close="onRightDrawerClose" >
    <div class="el-drawer-right">
      <el-form ref="form" size="small" :model="this.$store.state.form" :rules="this.$store.state.rules" label-width="80px" label-position="top">
        <el-form-item label="Name" prop="Name">
          <el-input v-model="this.$store.state.form.Name" placeholder="server name"></el-input>
        </el-form-item>
        <el-form-item label="Endpoint" prop="Endpoint">
          <el-input v-model="this.$store.state.form.Endpoint" placeholder="start with wss:// or h3s://"></el-input>
        </el-form-item>
        <el-form-item label="User" prop="User">
          <el-input v-model="this.$store.state.form.User"></el-input>
        </el-form-item>
        <el-form-item label="Password" prop="Password">
          <el-input v-model="this.$store.state.form.Password" minlength="6" maxlength="16" show-password></el-input>
        </el-form-item>
        <el-form-item label="Skip SSL Verify" prop="SkipVerifySSL">
          <el-switch v-model="this.$store.state.form.SkipVerifySSL"></el-switch>
        </el-form-item>
        <el-form-item label="Use Remote Route Rules" prop="UseRemoteRouteRules">
          <el-switch v-model="this.$store.state.form.UseRemoteRouteRules"></el-switch>
        </el-form-item>
        <el-form-item label="Sni (option)" prop="Sni">
          <el-input v-model="this.$store.state.form.Sni"></el-input>
        </el-form-item>
        <el-form-item label="Local Route Rules (option)" prop="LocalRouteRules">
          <el-input v-model="this.$store.state.form.LocalRouteRules" rows="6" wrap="off" type="textarea" placeholder="10.8.0.0/8(one item per line)"></el-input>
        </el-form-item>
        <el-form-item label="ProxyDomains (option)" prop="ProxyDomains">
          <el-input v-model="this.$store.state.form.ProxyDomains" rows="6" wrap="off" type="textarea" placeholder="www.google.com(one item per line)"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button size="large" type="primary" plain @click="onSubmit">Save</el-button>
          <el-button size="large" type="primary" plain @click="onDeleteClick" v-show="this.$store.state.showDelete" >Delete</el-button>
          <el-button size="large" @click="onReset">Reset</el-button>

        </el-form-item>
      </el-form>
    </div>
  </el-drawer>

</div>
</body>
<script src="./vue.js"></script>
<script src="./element-ui/index.js"></script>
<script src="./element-ui/locale/en.js"></script>
<script src="./element-ui/icon.js"></script>
<script src="./element-ui/vuex.js"></script>
<script>
    const { createApp } = Vue
    const { reactive } = Vue
    const { onMounted } = Vue
    const { createStore } = Vuex
    const { useStore } = Vuex
    const { ref } = Vue
    const { ElMessage } = ElementPlus
    const { ElMessageBox } = ElementPlus

    //data for form
    var formData = {
      ID:null,
      Name:'',
      Endpoint: '',
      User: '',
      Password: '',
      Sni:'',
      SkipVerifySSL: true,
      UseRemoteRouteRules: true,
      LocalRouteRules: '',
      ProxyDomains:''
    }
    //rules for form verification
    var formRules = {
      Name: [
        { required: true, message: 'Name can not be empty', trigger: 'blur' },
        { min: 3, max: 32, message: 'length must to be 3 to 32', trigger: 'blur' }
      ],
      Endpoint: [
        { required: true, message: 'Enpoint can not be empty', trigger: 'blur' }
      ],
      User: [
        { required: true, message: 'User can not be empty', trigger: 'blur' },
        { min: 3, max: 32, message: 'length must to be 3 to 32', trigger: 'blur' }
      ],
      Password: [
        { required: true, message: 'Password can not be empty', trigger: 'blur' },
        { min: 6, max: 16, message: 'length must to be 6 to 16', trigger: 'blur' }
      ]
    }

    var buttonRowStyleData = {
        marginTop:'80px'
    }

    var buttonStyleData = {
      height: '120px',
      width: '120px',
      fontSize: '40px',
      border: '4px',
      color: 'blueviolet',
      boxShadow:'0px 0px 10px #666'
    }


    //state store for app
   const store = createStore({
    state(){
      return {
        appType:'desktop', // desktop,android,ios
        buttonStyle:buttonStyleData,
        buttonRowStyle:buttonRowStyleData,
        log:'',
        version:'1.0.0',
        upBytes:' 0KB',
        downBytes:'0KB',
        options:[],
        accessServerID: '',
        connectIcon:'Promotion',
        showLeftDrawer: false,
        showRightDrawer: false,
        showLogDrawer:false,
        showAboutDrawer:false,
        showHelpDrawer:false,
        showDelete: false,
        showAlert:false,
        leftDirection: 'ltr',
        rightDirection: 'rtl',
        formTitle:"Add Access Server",
        form: formData,
        rules: formRules,
        servers:[],
        localIp:'',
        remoteIp:'',
        connectDisable:false,
        connectStatus:'Disconneted'
      }
    }
    })

    //patch for mobile api
    if(store.state.appType == 'android') {

      var funcs = ['GetVersion','GetAllLogs','GetAllAccessServer'
      ,'GetUpDownBytes','ConnectAccessServer','StopAccessServer'
      ,'AddAccessServer','UpdateAccessServer','DeleteAccessServer']

      for(const index in funcs) {
        window[funcs[index]] = function(req){
          var promise = new Promise(function (resolve, reject) {
            var resp = ext[funcs[index]](JSON.stringify(req))
            resolve(JSON.parse(resp))
          })
          return promise
        }
      }
    }

    //composition api for app
    const App = {
      setup(){

        const form = ref()
        const rdrawer = ref()

        //-------------------loadAllServers----------------------
        function loadAllServers(callback){
          window.GetAllAccessServer({}).then(function(resp){
            if(resp.Code != 0){
              ElMessage({message: "load all server fail,"+resp.Msg,type: 'warning',customClass:'alert'});
              return
            }
            servers = []
            resp.Servers.forEach(server => {
              servers.push({value:server.ID,label:server.Name})
            });

            store.state.options = servers
            store.state.servers = resp.Servers
            if(callback != null){
              callback()
            }
          })
        }
        //-------------------onMounted----------------------
        onMounted(() => {
          console.log("onMounted")

          if(store.state.appType != 'desktop'){
            store.state.buttonRowStyle.marginTop = '120px'
            store.state.buttonStyle.width = '160px'
            store.state.buttonStyle.height = '160px'
          }

          document.getElementById("app").style.display = 'block'
          
          window.GetVersion({}).then(function(resp){
            store.state.version = resp.Version
          })
          
          loadAllServers(function(){
            if(store.state.accessServerID == '' && store.state.servers.length > 0){
             store.state.accessServerID = store.state.servers[0].ID            
            }
          })

         setInterval(function(){
            window.GetUpDownBytes({}).then(function(resp){})
          },5000)
          
        })

        //-------------------onShowLogs----------------------
        function onShowLogs(){
          window.GetAllLogs({}).then(function(resp){})
          store.state.showLogDrawer=true
        }
        //-------------------onConnectClick----------------------
        function onConnectClick(evt){

          store.state.connectDisable = true

          if(store.state.accessServerID == ''){
            ElMessage({message: "please select access server",type: 'warning',customClass:'alert'});
            store.state.connectDisable = false
            return
          }
          var server = null
          store.state.servers.forEach(item => {
            if(item.ID == store.state.accessServerID){
              server = item
            }
          });

          if(store.state.connectIcon == 'Promotion'){
            store.state.connectStatus = 'Connecting...'
            window.ConnectAccessServer(server).then(function(resp){
              if(resp.Code!=0){
                ElMessage({message: "connect fail,"+resp.Msg,type: 'warning',customClass:'alert'});
                store.state.connectDisable = false
                store.state.connectStatus = 'Disconnected'
              }
            })
          }else{
            window.StopAccessServer({}).then(function(resp){
              if(resp.Code!=0){
                ElMessage({message: "stop tail,"+resp.Msg,type: 'warning',customClass:'alert'});
                store.state.connectDisable = false
              }
            })
          }
        }
        //-------------------onEditClick----------------------
        function onEditClick(ID){
          store.state.formTitle = "Edit Access Server"

          var server = null
          store.state.servers.forEach(item => {
            if(item.ID == ID){
              server = item
            }
          });

          if (server!=null) {
            store.state.form = server
          }
          store.state.showDelete = true
          store.state.showRightDrawer = true
        }
        //-------------------resetForm----------------------
        function resetForm(){
          store.state.form = {
            ID:null,
            Name:'',
            Endpoint: '',
            User: '',
            Password: '',
            Sni:'',
            SkipVerifySSL: true,
            UseRemoteRouteRules: true,
            LocalRouteRules: '',
            ProxyDomains: '',
          }
        }

        //-------------------onAddClick----------------------
        function onAddClick(){
          store.state.formTitle = "Add Access Server"
          resetForm()
          store.state.showDelete = false
          store.state.showRightDrawer = true
        }
        //-------------------onDeleteClick----------------------
        function onDeleteClick(){

          ElMessageBox.confirm(
          'Delete this Access Server?',
          'Warning',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
          }
          ).then(() => {
            window.DeleteAccessServer({ID:store.state.form.ID}).then(function(resp){
              if(resp.Code!=0){
                ElMessage({message: "delete fail,"+resp.Msg,type: 'warning',customClass:'alert'});
              }
              loadAllServers()
            })
            if(store.state.accessServerID == store.state.form.ID){
              store.state.accessServerID = ''
            }
            rdrawer.value.handleClose()

          })
        }
        //-------------------onSubmit----------------------
        function onSubmit(){
          form.value.validate(function(valid){
          if (valid) {
            if (store.state.form.ID == null){
                window.AddAccessServer(store.state.form).then(function(resp){
                  if(resp.Code!=0){
                    ElMessage({message: "add fail,"+resp.Msg,type: 'warning',customClass:'alert'});
                  }
                })
              }else{
                window.UpdateAccessServer(store.state.form).then(function(resp){
                  if(resp.Code!=0){
                    ElMessage({message: "add fail,"+resp.Msg,type: 'warning',customClass:'alert'});
                  }
                })
              }
              loadAllServers(function(){
                if(store.state.accessServerID == '' && store.state.servers.length > 0){
                  store.state.accessServerID = store.state.servers[0].ID
                }
              })
              resetForm()
              rdrawer.value.handleClose()
            } else {
              ElMessage({message: "please fillout correctly",type: 'warning',customClass:'alert'});
              return false;
            }
          });
        }
        //-------------------onReset----------------------
        function onReset(){
          form.value.resetFields()
        }
        //-------------------onRightDrawerClose----------------------
        function onRightDrawerClose(done){
          resetForm()
          done()
        }

        return {
          form,
          rdrawer,
          resetForm,
          loadAllServers,
          onShowLogs,
          onConnectClick,
          onEditClick,
          onAddClick,
          onDeleteClick,
          onSubmit,
          onReset,
          onRightDrawerClose
        }
      }
    }

    //app entry
    const app = createApp(App)
    app.use(store)
    for ([name, comp] of Object.entries(ElementPlusIconsVue)) {
        app.component(name, comp);
    }
    app.use(ElementPlus, {
      locale: ElementPlusLocaleEn,
    })

    app.mount('#app')


    //callback for golang
    window.onCallback = function(msg){
      if(msg.event == 'started'){
        ElMessage({message: "Access server connected",type: 'success',customClass:'alert'});
        store.state.connectIcon = 'SuccessFilled'
        store.state.connectDisable = false
        store.state.connectStatus = 'Allocating IP Address...'

      }else if(msg.event == 'stoped'){
        ElMessage({message: "Access server disconnected",type: 'success',customClass:'alert'});
        store.state.localIp = ''
        store.state.remoteIp = ''
        store.state.connectIcon = 'Promotion'
        store.state.connectDisable = false
        store.state.connectStatus = 'Disconnected'

      }else if(msg.event == 'refresh'){
        store.state.connectIcon = 'SuccessFilled'
        store.state.connectDisable = false
        store.state.connectStatus = ''
        store.state.localIp = 'LocalIP: ' +msg.data.ip
        store.state.remoteIp = 'RemoteIP: ' +msg.data.remoteIp

      }else if(msg.event == "allocated"){

        store.state.connectStatus = ''
        store.state.localIp = 'LocalIP: ' +msg.data.ip
        store.state.remoteIp = 'RemoteIP: ' +msg.data.remoteIp

      }else if (msg.event == "error"){
        ElMessage({message: "vpn error,"+msg.data.error,type: 'warning',customClass:'alert'});
      }else if (msg.event == "reconnecting"){
        ElMessage({message: "Network disconnected,reconnecting",type: 'warning',customClass:'alert'});
      }else if (msg.event == "reconnected"){
        ElMessage({message: "Network reconnected",type: 'warning',customClass:'alert'});
      }else if (msg.event == "bytes"){
        if (msg.data.UpBytes < 1024){
          store.state.upBytes = "0KB"
        }else if (msg.data.UpBytes >= 1024 && msg.data.UpBytes < 1024*1024) {
          store.state.upBytes = (msg.data.UpBytes/1024).toFixed(2) +"KB"
        }else if (msg.data.UpBytes >= 1024*1024 && msg.data.UpBytes < 1024*1024*1024){
          store.state.upBytes = (msg.data.UpBytes/1024/1024).toFixed(2) +"MB"
        }else {
          store.state.upBytes = (msg.data.UpBytes/1024/1024/1024).toFixed(2) +"GB"
        }

        if (msg.data.DownBytes < 1024){
          store.state.downBytes = "0KB"
        }else if (msg.data.DownBytes >= 1024 && msg.data.DownBytes < 1024*1024) {
          store.state.downBytes = (msg.data.DownBytes/1024).toFixed(2) +"KB"
        }else if (msg.data.DownBytes >= 1024*1024 && msg.data.DownBytes < 1024*1024*1024){
          store.state.downBytes = (msg.data.DownBytes/1024/1024).toFixed(2) +"MB"
        }else {
          store.state.downBytes = (msg.data.DownBytes/1024/1024/1024).toFixed(2) +"GB"
        }
      } else if (msg.event == "logs") {
          store.state.log = msg.data.logs
      }else{
        console.log(msg)
      }
    }

  </script>
<style>
    html,body,#app,.el-container,.el-drawer {
    height: 100%;
    margin: auto;
    }
    .alert {
    min-width: 90%;
    }

    .el-header, .el-footer {
    text-align: center;
    line-height: 60px;
    padding: 0px 10px 0px 10px;
    background-color: #fff;
    }

    .el-header{
    font-size: 30px;
    }

    .el-drawer {
    background-color: #eee;
    padding: 0px 0px 0px 0px;
    }

    .el-drawer__header{
    padding: 0px 10px 0px 10px;
    margin-bottom: 0px;
    font-weight: bold;
    background-color: #fff;
    height: 60px;
    }

    .el-drawer__body{
    padding: 0px 0px 0px 0px;
    }

    .el-button-connect:focus, .el-button-connect:hover {
    background-color: #fff;
    }
    .el-drawer-right {
    padding: 10px;
    }

    .setting-menu {
    padding-left:10px;
    line-height: 40px;
    cursor:pointer;
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    }

    .el-main {
    background-color: #eee;
    color: #666;
    text-align: center;
    padding: 0px 0px 0px 0px;
    }

    .el-footer {
    font-size: 12px;
    }

    .footer-upload {
    float: left;
    }

    .footer-download {
    float: right;
    }
    .menu {
    text-align:center;
    }

    .header-text {
    font-size: 24px;
    }

    .el-icon-s-unfold {
    float: left;
    color: #666;
    cursor: pointer;
    line-height: 60px;
    height: 60px;
    }

    .el-icon-plus {
    float: right;
    color: #666;
    cursor: pointer;
    line-height: 60px;
    height: 60px;
    }

  </style>
</html>
